# Ignore .gitignore, target and tmp folders
src/*/.gitignore
src/*/target/
/tmp
target/
*.zip

# Ignore IntelliJ project and settings files
.idea

# Ignore temp folders
grunt/bin

# Ignore npm files/folders
node_modules
npm-debug.log

# Ignore bower folder
bower_components
