body {
  padding: 0;
  margin: 0;
}

#wrapper {
  padding: 0.5rem;
  display: flex;
}

.list-box {
  padding: 0.5rem;
}

.select-list {
  margin-top: 0.3rem;
  min-width: 10rem;
  min-height: 15rem;
}

.button-list-box {
  justify-content: space-around;
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
}

label {
  display: block;
}

footer {
  padding: 0 1rem 1rem;
  text-align: center;
}