body {
  padding: 0;
  margin: 0;
}

#wrapper {
  padding: 0.5rem;
  display: flex;
}

.list-box {
  padding: 0.5rem;
}

.select-list {
  min-width: 10rem;
  min-height: 15rem;
}

.button-list-box {
  justify-content: space-around;
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
}

.service-input {
  width: 100%;
}

.status-label {
  margin-top: 0.5rem;
}

label {
  display: block;
  margin-bottom: 0.2rem;
}

footer {
  padding: 0 1rem 1rem;
  text-align: center;
}

.service-input-section {
  text-align: left;
}