* {
  margin: 0;
  padding: 0;
}

.service-list {
  padding: 0.5rem;
  list-style-type: none;
}

.service-list > li {
  padding: 0.1rem 0;
  font-weight: bold;
  white-space: nowrap;
}

.success {
  color: green;
  font-weight: 500;
}