<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>UI5 Project Status - Options</title>
  <link rel="stylesheet" type="text/css" href="../styles/options.css">
</head>

<body>
  <div id="wrapper">
    <section class="left-list-box list-box">
      <label for="services-list">Available branches:</label>
      <select id="services-list" class="select-list" multiple></select>
    </section>
    <section class="button-list-box">
      <button type="button" class="standard-button" id="btn-save">Save</button>
      <button type="button" class="standard-button" id="btn-select-all">>></button>
      <button type="button" class="standard-button" id="btn-remove-all"><<</button>
      <button type="button" class="standard-button" id="btn-add-selected">></button>
      <button type="button" class="standard-button" id="btn-remove-selected"><</button>
    </section>
    <section class="right-list-box list-box">
      <label for="selected-services-list">Monitored branches:</label>
      <select id="selected-services-list" class="select-list" multiple></select>
    </section>
  </div>
  <footer>
    <section class="service-input-section">
      <label for="service-input">Service address (url): </label>
      <input type="url" id="service-input" class="service-input" required>
    </section>
    <label id="status" class="status-label">&nbsp;</label>
  </footer>
  <script type="text/javascript" src="../scripts/options-bundle.js"></script>
</body>

</html>