<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../styles/options.css">
</head>

<body>
  <header class="heading">
    <h3 class="title">Service Status Dashboard - Options</h3>
  </header>
  <div id="wrapper">
    <select id="color">
      <option value="red">red</option>
      <option value="green">green</option>
      <option value="blue">blue</option>
      <option value="yellow">yellow</option>
    </select>
    <button type="button">>></button>
  </div>
</body>

</html>